src/main/app/allflightsByDestination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="allflightsByDestinationFlow">
        <logger message="allflightsbydestinationFlow starts.................... #[message.inboundProperties.uniqueid]" level="INFO" doc:name="Logger"/>
        <scatter-gather doc:name="Scatter-Gather">
            <flow-ref name="unitedAirlinesFlow" doc:name="unitedAirlinesFlow"/>
            <flow-ref name="deltaairlinesFlow" doc:name="deltaairlinesFlow"/>
        </scatter-gather>
        <logger message="Response from scatter Gather ===#[message.inboundProperties.uniqueid]=======#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
UnitedFligths :payload[0],
DetalsArilines :payload[1]
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Response from dataweave=====#[message.inboundProperties.uniqueid]===== #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
